In [1]:
x = 0
y = 5

if x < y:
    print("yes")

yes

In [2]:
if x:
    print("yes")

In [4]:
if 'foo' in ['foo', 'bar', 'bar']:
    print("Outer condition is true")
    
    if 10 > 20:
        print("inner  condition 1")

Outer condition is true

## The else and elif Clauses

In [5]:
x =100

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [1]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print('beli buku')
else:
    print('uang tidak cukup')

uang tidak cukup

In [2]:
if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print('beli majalah')
else:
    print('uang tidak cukup')

uang tidak cukup

In [4]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hacktiv8

In [5]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

## One-Line if Statements

In [6]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [7]:
if 'z' in 'foo': print('1'); print('2'); print('3')

In [8]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [9]:
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

## Conditional Expressions (Python's Ternary Operator)

In [6]:
raining = False

print("Let's go to the","beach" if raining else "library")

Let's go to the library

In [7]:
age = 70
s = 'teen' if age < 21 else 'adult'
s

'adult'

In [10]:
'yes' if('qux' in ('foo','bar','bar')) else 'no'

'no'

In [12]:
if a > b:
    m = a
else:
    m = b

## The Python pass Statement

In [13]:
if True:
    print('Foo')

Foo

In [14]:
if True:
    pass

print('foo')

foo

## Python "while" Loops

In [15]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [9]:
i = 1

while i < 6:
    print(i)
    i += 1

1
2
3
4
5

## The Python break and continue Statements

In [11]:
n = 5

while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)

print('Loop ended')

4
3
Loop ended

In [16]:
n = 5

while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)

print('Loop ended')

4
3
1
0
Loop ended

## The else Clause

In [12]:
n = 5

while n > 0:
    n -= 1
    print(n)
else:
    print('Loop Done')

4
3
2
1
0
Loop ended

In [15]:
n = 5

while n > 0:
    n -= 1
    print(n)
    if n == 4:
        break
else:
    print('Loop Done')

4

## Infinite Loops

In [ ]:
while True:
    print('foo')

## Nested while Loops

In [19]:
age = 20
gender = 'F'

if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age <65:
    if  gender == 'M':
        print('father')
    else:
        print('mother')
else:
     if gender == 'M':
        print('grandfather')
     else:
        print('grandmother')

mother

In [20]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

## One-Line while Loops

In [21]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

## Numeric Range Loop

In [2]:
for i = 1 to 10

## Three-Expression Loop

In [ ]:
for (i = 1; i <= 10; i++)

## Collection-Based or Iterator-Based Loop

In [ ]:
for i in <collection>

# Python for Loop

In [3]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [4]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [5]:
# Iterating Through a Dictionary

for k in d:
    print(d[k])

1
2
3

In [6]:
for k in d.values():
    print(k)

1
2
3

In [7]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

## The range() Function

In [8]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [9]:
x = range(5)

In [10]:
for n in x:
    print(n)

0
1
2
3
4

# Altering for Loop Behavior

## The break and continue Statements

In [11]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [12]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

## The else Clause

In [13]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.') # Will execute

foo
bar
baz
qux
Done.

In [14]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.') # Will not execute

foo

In [15]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukkan input yang benar")

print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 55F
Temperaturnya adalah 13 derajat

In [16]:
temp

'55F'

In [17]:
result

13

In [19]:
while True:
    msg = input("Ketikan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikan karakter: NOW
now
Ketikan karakter: LOW
low
Ketikan karakter: STOP
stop